.headtitle{
    background-color: rgb(113,9,9);
    height:65px;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
}
#h01{
    color:yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;

}
#headH01{
    background-color: yellow;
    color: rgb(113,9,9);
    text-align: center;
    margin: auto;
    margin: 100px;
    font-size: large;
    font-family: fantasy;
    animation: fadeIn 4s ease-in-out 1;
}

.card-group{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    animation: fadeIn 4s ease-in-out 1;
}
.card{
    flex: 0 0 18%;
    max-width: 200px;
}
@media(max-width:768px){
    .card{
        flex: 0 0 45%;
    }
}
@media(max-width:480px){
    .card{
        flex: 0 0 90%;
    }
}
.navbar1{
    margin: 20px;
    background-color: chocolate;
    height: 120px;
    border-radius: 15px;
    
}
#h04{
    
    font-weight: 900;
     margin: auto;
     font-style: oblique;
     color: yellow;
     animation: fadeIn 2s ease-in-out 1;
  
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 4;
        transform: translateY(0);
    }
}
#divsinhala {
    background-color: rgb(113,9,9); 
    color: white;
    font-weight: bold;
    border-radius: 46%;
    width: 600px;
    height: 200px;
    animation: fadeIn 2s ease-in-out 1;
    
}
.btn-primary{
        width: 300px;
        height: 60px;    
        font-size: 20px; /* Font size wenas karanna */
        padding: 15px 30px; /* Button eka loku wenna */
    }
.btn-secondary{
        width: 300px;
        height: 60px;    
        font-size: 20px; /* Font size wenas karanna */
        padding: 15px 30px; /* Button eka loku wenna */
    }
.btn-light{
        width: 300px;
        height: 60px;    
        font-size: 20px; /* Font size wenas karanna */
        padding: 15px 30px; /* Button eka loku wenna */
    }
.div1{
    background-color: rgb(113,9,9);
    height:65px;
    padding: 10px;
}
body{
    background-color:yellow;
}
#h02{
   
   
   
    font-weight: 800;
    font-family: fantasy;
    color:darkred;
    font-style: unset;
    margin-left: 250px;
    margin-bottom: 70px;
  margin-top: 40px;
  
}
.div2{
    margin-top: 100px;
    margin-left:300px;
    margin-right: 300px;
    background-color:brown;
    color: white;
    font-size: 20px;
    
   
}
#txt1{
    width: 250px;
    height: 35px;
    padding-left: 50px;
    margin-left: 40px;
    animation: slideDown 2s ease-out forwards; 
}
#txt2{
    width: 250px;
    height: 35px;
    padding-left: 50px;
    margin-left: 40px;
    animation: slideDown 2s ease-out forwards; 
}
#txt3{
    width: 250px;
    height: 35px;
    padding-left: 50px;
    margin-left: 40px;
    animation: slideDown 2s ease-out forwards; 
}
#txt4{
    width: 250px;
    height: 35px;
    padding-left: 50px;
    margin-left: 40px;
    animation: slideDown 2s ease-out forwards; 
}
#txt5{
    width: 250px;
    height: 35px;
    padding-left: 50px;
    margin-left: 40px;
    animation: slideDown 2s ease-out forwards; 
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px); /* Initial top position */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Final position */
    }
}
#btnwarning{
    margin-top: 20px;
    background-color: yellow;
    border-radius: 2%;
    width: 350px;
    height: 50px;
}



.btn-secondary{
    margin-top: 20px;
    background-color: red;
    border-radius: 2%;
    width: 350px;
    height: 50px;
}
.btn-light{
    margin-top: 20px;
    background-color: red;
    border-radius: 2%;
    width:350px;
    height: 50px;
}
.listDiv{
   
    background-color:rgb(113,9,9) ;
    animation: fadeIn 6s ease-in-out 1;
    color: white;
    margin: auto;
    padding: 100px;
    margin: 50px;
}
#vid1{

    max-width: 80%;  
    max-height: 80vh; 
    border-radius: 10px; 
}
#img1{
    
   
   padding-top: 130px;
   
   
}
.card-group{
    margin: 20px;
    width: 95%;
}
#btn{
    margin: 10px 20px 50px 10px;
}
#btn1{
    margin: 10px 20px 50px 10px;
}